.form-sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    color: #fff;
    background-color: #151b22e3;
    position: relative;
    background-position: center;
    overflow: hidden;
    transition: all ease-in-out;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-sec::before{
    content: '';
    position: absolute;
    background: url('../assets/bg.jpg');
    background-size: cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.form-sec:hover::before{
    animation: banim 10s;
}

.greyed-txt{
    color: #b4b4b4;
}

.brandname-new{
    padding: 0px;
}

.bar-new::before{
    width: 90%;
}

.form-sec-form{
    background-color: var(--darkblue);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-side-input{
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
}

.submit{
    margin: 10px 0px;
}


@media screen and (max-width:930px) {
    .form-sec{
        grid-template-columns: 1fr;
    }
    .submit{
        display: block !important;
    }
}