.testimonial{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}

.testimonies{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    padding: 10px 0px;
    transition: all 0.5s ease-in-out;
    justify-self: normal;
}

.testimony{
    background-color: var(--darkblue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 320px !important;
}

.icon-here{
    margin: 0px 20px 0px 0px;
}

.name-and-pic{
    display: flex;
    align-items: center;
}

.client-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* position: relative; */
}

.client-wrapper{
    background-color: transparent;
    border-radius: 50%;
    border: 1px var(--red) solid;
    padding: 7px;
    overflow: hidden;
    margin-right: 10px;
}

.black{
    color: #000;
}


@media screen and (max-width:930px) {
    .testimonies{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:600px) {
    .testimony > p{
        font-size: 14px;
    }
}